Flow .json
[{"id":"e18466cd.14a938","type":"tab","label":"SSB","disabled":false,"info":""},{"id":"2a50188e.44a278","type":"http in","z":"e18466cd.14a938","name":"","url":"/SSB","method":"get","upload":false,"swaggerDoc":"","x":300,"y":440,"wires":[["821af293.1b71"]]},{"id":"3848293f.be5ec6","type":"http response","z":"e18466cd.14a938","name":"","statusCode":"","headers":{},"x":660,"y":500,"wires":[]},{"id":"f31c7bc2.156a68","type":"debug","z":"e18466cd.14a938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":400,"wires":[]},{"id":"821af293.1b71","type":"function","z":"e18466cd.14a938","name":"json","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":442,"wires":[["f31c7bc2.156a68","3848293f.be5ec6"]]},{"id":"8d7315f9.5dd4f8","type":"ui_button","z":"e18466cd.14a938","name":"","group":"81f3ac8d.c4e55","order":2,"width":0,"height":0,"passthru":true,"label":"accident","tooltip":"","color":"","bgcolor":"navy","icon":"","payload":"Accident Occured","payloadType":"str","topic":"","x":340,"y":200,"wires":[["c11d0441.885e68","25897629.f8c99a","63855a2c.113574"]]},{"id":"6ccadcc7.d9ad94","type":"ui_button","z":"e18466cd.14a938","name":"","group":"81f3ac8d.c4e55","order":3,"width":0,"height":0,"passthru":true,"label":"Road","tooltip":"","color":"","bgcolor":"navy","icon":"","payload":"Road under construction","payloadType":"str","topic":"","x":330,"y":140,"wires":[["25897629.f8c99a","b7223836.344a98","63855a2c.113574"]]},{"id":"c11d0441.885e68","type":"debug","z":"e18466cd.14a938","name":"accident","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":80,"wires":[]},{"id":"b7223836.344a98","type":"debug","z":"e18466cd.14a938","name":"road","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":200,"wires":[]},{"id":"63855a2c.113574","type":"ibmiot out","z":"e18466cd.14a938","authentication":"apiKey","apiKey":"ea464e71.43a6a","outputType":"cmd","deviceId":"nodes4321","deviceType":"node123","eventCommandType":"SSB","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":140,"wires":[]},{"id":"61449d6c.65e5d4","type":"ui_text","z":"e18466cd.14a938","group":"81f3ac8d.c4e55","order":1,"width":0,"height":0,"name":"","label":"Causes:","format":"{{msg.payload}}","layout":"row-spread","x":321,"y":345,"wires":[]},{"id":"25897629.f8c99a","type":"ui_text","z":"e18466cd.14a938","group":"81f3ac8d.c4e55","order":3,"width":0,"height":0,"name":"OTHER","label":"","format":"{{msg.payload}}","layout":"col-center","x":980,"y":360,"wires":[]},{"id":"2f269b7a.453144","type":"ibmiot in","z":"e18466cd.14a938","authentication":"apiKey","apiKey":"ea464e71.43a6a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"nodes4321","applicationId":"","deviceType":"node123","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":160,"y":80,"wires":[["4b276425.cc27dc"]]},{"id":"259fe90a.babb66","type":"switch","z":"e18466cd.14a938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":90,"y":280,"wires":[["6ccadcc7.d9ad94"],["8d7315f9.5dd4f8"],["f220881e.ad2508"],["e32daf92.e12fc"]]},{"id":"4b276425.cc27dc","type":"function","z":"e18466cd.14a938","name":"json","func":"msg.payload=msg.payload.d.command\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["259fe90a.babb66","7ed99a3.2283c64"]]},{"id":"e32daf92.e12fc","type":"function","z":"e18466cd.14a938","name":"json","func":"msg.payload=\"Go Ahead\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["25897629.f8c99a"]]},{"id":"7ed99a3.2283c64","type":"debug","z":"e18466cd.14a938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"f220881e.ad2508","type":"function","z":"e18466cd.14a938","name":"json","func":"msg.payload=\"Traffic Ahead\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["25897629.f8c99a"]]},{"id":"81f3ac8d.c4e55","type":"ui_group","z":"","name":"SSB","tab":"f1d6b98b.5c4a28","disp":true,"width":"6","collapse":false},{"id":"ea464e71.43a6a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ks6fk6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f1d6b98b.5c4a28","type":"ui_tab","z":"","name":"Smart Sign Boards","icon":"dashboard","disabled":false,"hidden":false}]